/* Search.css */

/* Styles for the card container */
.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

/* Styles for the left column */
.left-column {
  width: 30%;
}

/* Styles for the card within the left column */
.card-left {
  padding: 1rem;
}

/* Styles for the buttons group */
.btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Styles for the inputs */
.form-control {
  width: 100%;
  margin-top: 0.5rem;
}

/* Styles for the passenger count section */
.passenger-count {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

/* Styles for the search button */
.search-btn {
  width: 100%;
  margin-top: 1rem;
}

/* Styles for the right column */
.right-column {
  width: 68%;
}

/* Styles for the refine flight search section */
.refine-search {
  margin-top: 1rem;
}

/* Styles for the InputRange component */
.input-range-container {
  margin-top: 1rem;
}
