.footer {
    background: rgb(255, 124, 17);
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .menu__item {
    text-align: center;
  }
  
  .menu__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: 0.3s;
  }
  
  .menu__link:hover {
    opacity: 0.8;
  }
  
  p {
    margin-top: 20px;
    font-size: 1rem;
    opacity: 0.8;
  }
  